 

position: absolute;
width: 627px;
height: 159px;
left: 35px;
top: 710px;

font-family: Sen;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 77px;

color: #000000;

